* {
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;

}
body {
    box-sizing: border-box;
}

/* ===============================
nav
================================== */
nav.navbar-person {
    padding: 25px 0;
    background: rgb(59, 67, 138);
}
#text-brand {
    color: rgb(236, 230, 230);
}
#text-brand:hover {
    color: rgb(78, 127, 184);
}

/* ====================================
body==>result
======================================*/
#content-result {
    margin-top: 2rem;
}
#idCard {
    border: none;
}
/* refresh button */
#refresh {
    border: none;
    background: none;
    outline: none;
}
.showHidden {
    display:none;
}